<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="metodo" value="${replace:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}:searchFor=RavexSolution.Risco.:replaceWith=:regex=false}" />
    <targets>
        <target xsi:type="File"
                name="todos"
                fileName="logs\log.log"
                layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} [${uppercase:${level}}] [Thread:${threadid}] [${metodo}] ${message} ${exception:format=tostring}"
                archiveEvery="Hour"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMddHHmmss"
                maxArchiveDays="3"
                archiveAboveSize="52428800"
                maxArchiveFiles="3"
        />
    </targets>
    <rules>
        <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />
        <logger name="System.Net.Http.HttpClient.*" maxlevel="Error" final="true" />
        <logger name="RavexSolution.ServicoTempoReal.Workers.ServicoTempoRealWorker" maxlevel="Error" final="true" />
        <logger name="RavexSolution.ServicoTempoReal.Workers.ServicoTempoRealMqtt" maxlevel="Off" final="true" />
        <logger name="Microsoft.AspNetCore.*" maxlevel="Error" final="true" />
        <!-- <logger name="*" minlevel="Debug" writeTo="todos" /> -->
        <logger name="*" minlevel="Info" writeTo="todos" />
    </rules>
</nlog>